* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(206, 206, 206);
}
.search ::placeholder {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.headerIcons img {
  padding-right: 20px;
}
.headerIcons {
  padding-right: 10px;
}
.headerTitle {
  font-family: "Pacifico";
  padding-top: 10px;
  padding-left: 10px;
}
.headerTitle h1 {
  font-size: 32px;
}
.p-10 {
  padding: 10px !important;
}
.surface {
  background-color: rgb(245, 245, 245);
  height: 100vh;
  z-index: 2;
}
.card {
  background-color: white;
  margin-left: 5vw;
  margin-top: 2vw;
  width: 60vw;
}
.content {
  display: flex;
  justify-content: space-between;
}
.roundetImg {
  padding: 10px;
  margin-top: 5px;
  margin-left: 5px;
  vertical-align: middle;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
  border-radius: 3em;
}
.sidebar {
  width: 30vw;
}
.cardInfo p {
  margin: 0 !important;
}
.cardInfo {
  margin-top: 5px;
  padding-top: 12px;
  padding-left: 10px;
}
.cardImg {
  padding-top: 10px;
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
}
.cardHeader {
  height: 70px;
}
#likeButton {
  padding: 10px;
  padding-bottom: 0;
}
#likeButton:hover {
  cursor: pointer;
}
#commentButton:hover {
  cursor: pointer;
}
#commentButton {
  padding: 10px;
  padding-bottom: 0;
}
.pl-2 {
  padding-left: 10px !important;
}
.comments b {
  padding-left: px;
  padding-bottom: 10px;
}
.inputDesing {
  margin-left: 1%;
  width: 98%;
}
.commentLine {
  padding-left: 10px;
}
.roundetImgHeader {
  padding: 5px;
  margin-top: 15px;
  margin-right: 20px;
  vertical-align: middle;
  width: 5.5rem;
  height: 5.5rem;
  object-fit: cover;
  border-radius: 3em;
  background: red;
  background: -webkit-linear-gradient(
    left,
    orange,
    rgb(250, 112, 0),
    rgb(190, 0, 73),
    rgb(146, 0, 175),
    blue,
    violet
  );
  background: -o-linear-gradient(
    right,
    orange,
    rgb(250, 112, 0),
    rgb(190, 0, 73),
    rgb(146, 0, 175),
    blue,
    violet
  );
  background: -moz-linear-gradient(
    right,
    orange,
    rgb(250, 112, 0),
    rgb(190, 0, 73),
    rgb(146, 0, 175),
    blue,
    violet
  );
  background: linear-gradient(
    to right,
    orange,
    rgb(250, 112, 0),
    rgb(190, 0, 73),
    rgb(146, 0, 175),
    blue,
    violet
  );
}
nav {
  max-width: 60vw;
  white-space: none;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  display: flex;
  justify-content: flex-start !important;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.3em;
  width: 60vw;
  margin-left: 5vw;
  margin-top: 20px;
  padding-bottom: 10px;
}

.surface {
  display: flex;
}
.content {
  flex-direction: column;
  width: 70vw;
}
#firstStoryImg {
  margin-left: 15px;
}
